@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

body {
    font-family: Pretendard !important;
    width: 100%;
    height: 100%;
    background: #fff0f0;
}

.main {
    .background {
        width: 100%;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .form-label {
        position: absolute;
        top: 15%;
        left: 50%;
        text-align: center;
        font-size: 25px;
        color: #fff;
        z-index: 1;
        transform: translate(-50%, 15%);
    }
    .top_wrap {
        position: absolute;
        top: 25%;
        transform: translate(-50%, 15%);
        left: 50%;
        width: calc(100% - 75%);
        margin: 0 auto;
        height: auto;
        .search_text {
            color: #fff;
            font-size: 17px;
            margin-bottom: 20px;
        }
        .searchbar {
            width: 100%;
            height: 50px;
            background: #fff;
            outline: none;
            border: none;
            border-radius: 6px;
            ::placeholder {
                font-family: Pretendard;
            }
        }
        .hr-text {
            margin-bottom: 30px;
            line-height: 1em;
            position: relative;
            outline: 0;
            border: 0;
            color: #fff;
            text-align: center;
            height: 1.5em;
            opacity: 0.5;
    
            &:before {
                content: "";
                background: #fff;
                position: absolute;
                left: 0;
                top: 50%;
                width: 100%;
                height: 1px;
            }
    
            &:after {
                content: attr(data-content);
                position: relative;
                display: inline-block;
                color: #fff;
                padding: 0 0.5em;
                line-height: 1.5em;
                color: #fff;
            }
        }
    }   
}
.cate {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: auto;
    margin-bottom: 100px;
    margin-top: 20px;
  
    button {
      flex: 1;
      width: 115px;
      height: 110px;
      border-radius: 10px;
      border: 1px solid #ccc;
      background: #fff;
      font-size: 15px;
      cursor: pointer;
      border: none;
      outline: none;
      margin: 0 30px;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }