@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

body {
    font-family: Pretendard !important;
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    overflow-y: hidden;
    height: 100vh;
    background: #FADADD;

    .background {
        width: 100%;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .form-label {
        position: absolute;
        top: 15%;
        left: 50%;
        text-align: center;
        font-size: 25px;
        color: #fff;
        z-index: 1;
        transform: translate(-50%, 15%);
        font-family: "Pretendard";
    }
    .top_wrap {
        position: absolute;
        top: 25%;
        transform: translate(-50%, 15%);
        left: 50%;
        width: calc(100% - 75%);
        margin: 0 auto;
        height: auto;

        .search_text {
            color: #fff;
            font-size: 17px;
            margin-bottom: 20px;
        }

        .searchbar {
            width: 100%;
            height: 50px;
            background: #fff;
            outline: none;
            border: none;
            border-radius: 6px;
            padding-left: 10px;

            ::placeholder {
                font-family: "Pretendard";
            }
        }

        .hr-text {
            margin-bottom: 30px;
            line-height: 1em;
            position: relative;
            outline: 0;
            border: 0;
            color: #fff;
            text-align: center;
            height: 1.5em;
            opacity: 0.5;
            margin-top: 70px;
    
            &:before {
                content: "";
                background: #fff;
                position: absolute;
                left: 0;
                top: 50%;
                width: 100%;
                height: 1px;
            }
    
            &:after {
                content: attr(data-content);
                position: relative;
                display: inline-block;
                color: #fff;
                padding: 0 0.5em;
                line-height: 1.5em;
                color: #fff;
            }
        }
    }   

    .bottom_wrap {
        position: relative;
        margin-left: 3%;
        margin-right: 3%;
        .cate {
            display: flex;
            justify-content: center;
            align-items: center;
            width: calc(100% - 36%);
            margin: 0 auto;
            height: auto;
            margin-bottom: 100px;
            margin-top: 20px;
            margin-left: calc(18% - 5px);
            position: relative;
        
                button {
                    flex: 1;
                    margin-top: 4%;
                    width: 75px;
                    height: 150px;
                    border-radius: 10px;
                    border: 1px solid #ccc;
                    background: #fff;
                    font-size: 16px;
                    cursor: pointer;
                    border: none;
                    outline: none;
                    margin-left: 20px;
                    margin-right: 20px;
                    transition: all 0.3s ease-in-out;
                    

                    &:hover{
                    transform: scale(1.03);
                    }
                
        
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                    overflow: hidden;
                    text-align: center;
                }
            }
        }
        
        .recommend {
            position: absolute; 
            top: 0px; 
            left: 19%; 
            color: #000000;
            font-size: 20px;
            z-index: 1;
            font-family: "Pretendard";
        }
        .cate button::after {
            content: attr(data-text);
            display: block;
            text-align: left;
            margin-top: 5px;
            font-family: "Pretendard";
        }
        }
    }